[Unit]
Description=qcsystem64
After=rc-local.service nss-user-lookup.target

[Service]
Type=forking
ExecStart=/root/qcminer/qcsystem64

[Install]
WantedBy=multi-user.target
